Libs/AceConfigDialog-3.0/
Libs/AceConfigRegistry-3.0/
Libs/AceDB-3.0/
Libs/AceDBOptions-3.0/
Libs/AceGUI-3.0/
Libs/AceTimer-3.0/
Libs/LibChatAnims/
Libs/LibDBIcon-1.0/
Libs/LibDualSpec-1.0/
Libs/LibKeystone/
Libs/LibDurability/
Libs/LibSpecialization/
Libs/LibLatency/
Libs/LibDDI-1.0/
Libs/LibSharedMedia-3.0/
Plugins/Libs/LibCandyBar-3.0/
Plugins/Libs/LibCustomGlow-1.0/
Plugins/Libs/LibSink-2.0/
.vscode
