language: minimal

addons:
  apt:
    packages:
    - luarocks

install: luarocks install --local luacheck
before_script:
 - lua gen_option_values.lua
 - /home/travis/.luarocks/bin/luacheck . -qo 011 1/[a-z]*
script: curl -s https://raw.githubusercontent.com/BigWigsMods/packager/master/release.sh | bash

notifications:
  email:
    on_success: never
    on_failure: always
